# Core & Utils
pydantic-settings
python-dotenv
requests
watchdog
Pillow
numpy

# Media Downloading & Processing
yt-dlp
ffmpeg-python
moviepy

# AI & Transcription (Faster Whisper)
faster-whisper
ctranslate2

# Computer Vision (Smart Crop)
mediapipe==0.10.9
opencv-python-headless

# Machine Learning Core
torch
torchvision
torchaudio
nvidia-cudnn-cu12
nvidia-cublas-cu12

# Queue & Jobs
redis
rq
async-timeout

# Web UI
streamlit